table.Rtable1 {
    font-family: "Arial";
    border-collapse: collapse;
    font-size: 11pt;
    width: 40%;
    padding: 15px;
}
.Rtable1 th {
    font-family: "Arial";
    color: black;
}
.Rtable1 .firstrow, .Rtable1 .firstrow ~ td {
    border-top: 2pt solid black;
}
.Rtable1 td.rowlabel {
    font-style: italic;
}
.Rtable1 td.firstrow.rowlabel {
    font-size: 11pt;
}